<h3><span class="label label-danger">Domanda 16</span></h3><br/>
 <%= f.hidden_field :uid, value: " " %>

 <div class="field">
   <p><%= @questions[24].qtext %></p>
 </div>
 <div class="radio">
  <label><input type="radio" name="answer16_0" value="più di prima dell'emergenza" <%= 'checked' if session[:answer16_0] == "più di prima dell'emergenza" %> >più di prima dell'emergenza</label>
</div>
<div class="radio">
  <label><input type="radio" name="answer16_0" value= "meno di prima dell'emergenza" <%= 'checked' if session[:answer16_0] == "meno di prima dell'emergenza" %> >meno di prima dell'emergenza</label>
</div>
<div class="radio">
  <label><input type="radio" name="answer16_0" value= "come prima dell'emergenza" <%= 'checked' if session[:answer16_0] == "come prima dell'emergenza" %> >come prima dell'emergenza</label>
</div><br/>
<div class="row">
    <div class="col-md-6">
       <textarea class="form-control" rows="3" placeholder="Note" name="answer16_note" ><%=session[:answer16_note]%></textarea>
    </div>
</div>